
    <script type="text/javascript">

    var map = null;
    var geocoder = null;

    function initialize() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(37.4419, -122.1419), 1);
        map.setUIToDefault();
        geocoder = new GClientGeocoder();
      }
    }

    function showAddress(address) {
      if (geocoder) {
        geocoder.getLatLng(
          address,
          function(point) {
            if (!point) {
              alert(address + " not found");
            } else {
              map.setCenter(point, 15);
              var marker = new GMarker(point, {draggable: true});
              map.addOverlay(marker);
              GEvent.addListener(marker, "dragend", function() {
                marker.openInfoWindowHtml(marker.getLatLng().toUrlValue(6));
              });
              GEvent.addListener(marker, "click", function() {
                marker.openInfoWindowHtml(marker.getLatLng().toUrlValue(6));
              });
        GEvent.trigger(marker, "click");
            }
          }
        );
      }
    }
    </script>
<% if user_signed_in? %>
  <div class="main_content">
    <div class="row" id="recipe_top">
      <div class="col-md-4">
        <%= image_tag @recipe.image.url(:medium), class: "recipe_image" %>
      </div>
      <div class="col-md-8">
        <div id="recipe_info">
          <h1>
            <%= @recipe.title %>
          </h1>
          <p class="description">
            <%= @recipe.description %>
          </p>
          <p>
            Submitted by
            <%= @recipe.user.email %>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="ingredients">
          <h2>Menu</h2>
          <ul>
            <% @recipe.ingredients.each do |ingredient| %>
              <li>
                <%= ingredient.name %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div id="directions">
          <h2>Directions</h2>
          <ul>
            <% @recipe.directions.each do |direction| %>
              <li>
                <%= direction.step %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= link_to "Back", root_path, class: "btn btn-default" %>
        <% if user_signed_in? %>
          <%= link_to "Edit", edit_recipe_path, class: "btn btn-default" %>
          <%= link_to "Delete", recipe_path, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="ibox-title">
  	<form action="#" onsubmit="showAddress(this.address.value); return false">
     
      <p>
        <input type="text" style="width:350px" name="address" value="Cyberjaya, Malaysia" />
        <input type="submit" value="Go!" />
      </p>
      <div id="map_canvas" style="width: 600px; height: 400px"></div>
    </form>
  	</div>
  	
  <h3>Comments</h3>
  <% @comments.each do |comment| %>
    <div class="ibox-title">
      <strong>
        <%= comment.user_name %>
      </strong>
      <br/>
      <p>
        <%= comment.body %>
      </p>
      <!--/ %p= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' }
      -->
    </div>
  <% end %>
  <%= render 'comments/form' %>
<% else %>
 <div class="ibox-title">
  <p>Please <a href="../users/sign_in">sign in</a> to view more</p>
  </div>
<% end %>
