<!DOCTYPE html>
<html>
<head>
  <title>Food Hunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></link>-->
  <!--<script src="https://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyDo_JCoKiBF1IpEyjusF9tLk6GolLn0B78" type="text/javascript"></script>-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></link>
   <!--<script src="https://maps.googleapis.com/maps/api/js"></script>-->
   <script src="https://maps.google.com/maps/api/js?sensor=true" 
           type="text/javascript"></script> 
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #000;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><i class="fa fa-cutlery"></i>  <span class="light">Food-</span>Hunt</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" >
            
            <li >
             <%= form_tag(recipes_path, :method => "get", class: "navbar-form", id: "search-form") do %>
              
                <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search Restaurant" %>
                <!-- In order to have the "search" icon int the button, we need to use plain HTML instead 
                     of using a Rails form helper -->
                <button class="btnwhite" type="submit"><i class="fa fa-search fa-1"></i></button>
            <% end %>
            </li>
            
            <li style="padding-top: 5px;"><a href="/">Home</a></li>
            
            
            <% if user_signed_in? %>
            <li style="padding-top: 5px;">  <%= link_to "New Restaurant", new_recipe_path %> </li>
            <li style="padding-top: 5px;">  <%= link_to '<i class="fa fa-sign-out"></i> Sign Out'.html_safe, destroy_user_session_path, method: :delete %></li>
            <% else %>
            <!--<li style="padding-top: 5px;"><link_to "Sign Up", new_user_registration_path %></li>-->
            <li style="padding-top: 5px;">  <%= link_to '<i class="fa fa-sign-in"></i> Sign In'.html_safe, new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
 <br><br><br><br>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert" %>
    <% end %>
    <%= yield %>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
<footer class="footer-distributed">
  <div class="footer-right">
    <p style="color:#fff;">About Developer</p>
    <a href="https://www.facebook.com/adis.nabawi">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://twitter.com/rainuia">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.linkedin.com/in/adisazizan">
      <i class="fa fa-linkedin"></i>
    </a>
    <!--/ %a{:href => "#"}
    -->
    <!--/ 	%i.fa.fa-github
    -->
  </div>
  <div class="footer-left">
    <p class="footer-links">
      <a href="/">Food-Hunt</a>
    </p>
    <p>food-hunt.com &copy; 2015</p>
  </div>
</footer>
</html>